body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#333;
  font-size:2em;
  color:#fff;

}


// .App {
//   background-color: #282c34;
//   min-height: 100vh;
//   color: #09d3ac;
// }
